/* body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 200;
    background-color:rgb(255, 255, 255);
    color:black;
    /* background-image: linear-gradient(315deg, aqua 0%, purple 74%);
}*/

#navbar-toggle-btn {
  background-color: #FFD700;
}

@media (max-width: 575px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content .cellims {
    width: 100%;
  }
  .content .cellinfo {
    width: 100%;
  }
}

.cellims {
  width: 45%;
}

.cellinfo {
  width: 45%;
}

body {
  background-color:rgb(39, 39, 42);
  color: rgb(255, 255, 255);
}
div {
  color: rgb(203, 213, 225);
}

p {
  color: rgb(203, 213, 225);
}

b {
  color: rgb(203, 213, 225);
}

span {
  color: rgb(203, 213, 225);
}

li {
  color: rgb(203, 213, 225);
}

h3{
  /* color: rgb(203, 213, 225); */
  /* color: #FFAA33; */
   background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; 
  font-size: 20px;
  margin-top: 30px;
}
h2{
  /* color: rgb(203, 213, 225); */
  color: #FFAA33;
  text-transform: capitalize;
}
h1 {
  /* color: rgb(203, 213, 225); */
  /* background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;  */
  color: #FFAA33;
  text-transform: capitalize;
}
strong {
  color: rgb(203, 213, 225);
}

a {
  color: #FFD700;
}

a b {
  color: #FFD700;

}

#mainTitle {
  background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* Or 'block', depending on your layout */
}

#navbar {
  background-color: rgb(9, 9, 11);
  /* background: rgb(255,105,0); */
  /* background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%); */
}

#container-header {
  height: 100px;
}

#typing-header {
  margin-top: 10px;
}

#typing-text {
  background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* color: #09AD94; */
  /* color: #FFD700; */
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link{
  color: #FFD700;
}



/* a: link {
  color: green !important;
  background-color: transparent;
  text-decoration: none;
} */

.circle-headshot {
  border: 2px solid gray;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

#landing_image {
  border: 2px solid blue;
  width: 100%;
  height: 100%;
}

/* SCHEDULE */
.container_tl {
  padding: 2rem;
  padding-bottom: 0px;
  margin: 0 auto;
  max-width: 1000px;
}

.top {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.tl {
  position: relative;
  min-height: 100px;
}

.line {
  position: absolute;
  z-index: 2;
  /* left: calc(49.85%); */
  width: 2px;
  top: -10px;
  bottom: -10px;
  /* background-color: #000; */
  background-color: #FFAA33;  
  /* #FFD700; */
  /* background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%); */
  display: none;
}

.line:before,
.line:after {
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  /* background-color: black; */
  /* background-color: #FFD700; */
  background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%);
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.section {
  display: flex;
  /* opacity: 0; */
  /* transform: translateX(-100%); */
  transition: 500ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  /* transform: translateX(100%); */
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  /* background-color: black; */
  /* background-color: #FFD700; */
  background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%);
  left: 0%;
  top: 20%;
  transform: translateX(-50%);
}

/* position: absolute;
display: block;
content: '';
height: 1rem;
width: 1rem;
border-radius: 50%;
background-color: black;
left: 50%;
transform: translateX(-50%); */
/* .content {
  width: calc(50%-2rem);
} */

/* .show-me:nth-child(n) {
  transform: none;
  opacity: 1;
} */

.speaker-img {
  border: 2px solid gray;
  width: 175px;
  height: 175px;
  background-size: cover;
  border-radius: 50%;
  /* https://stackoverflow.com/a/40432371 prevents squashing of photos */
  object-fit: cover;
}

.speaker-img:hover {
  padding: 2px;
  border: 0px;
  background: linear-gradient(90deg, rgba(255,105,0,1) 0%, rgba(252,185,0,1) 35%, rgba(6,147,227,1) 100%);
}

.center {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

/* for main picture on home page */
.hourglass {
  height: 250px;
  width: 400px;
  position: relative;
  margin: 0 auto;
  animation:  rotateGlass 10s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hourglass::after {
  content: '';
  border: 100px solid transparent;
  border-left: 50px solid white;
  border-right: 50px solid white;
  position: absolute;
  bottom: 0;
}


@keyframes rotateGlass {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  69.999999% { transform: rotate(360deg); }
  70%, 100% { transform: rotate(0deg); } /* Reset to 0 degrees instantly since 0.1% transition below framerate */
}
