---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.speaker-img {
  border: 2px solid gray;
  width: 175px;
  height: 175px;
  background-size: cover;
  border-radius: 50%;
  /* https://stackoverflow.com/a/40432371 prevents squashing of photos */
  object-fit: cover;
}
